<form form-for="result" schema="DriverPaymentGenOptions" mode="{{viewMode}}" class="reference-modal">
    <div class="modal-header">
        <button class="close" type="button" ng-click="$dismiss()"><i class="material-icons">clear</i></button>
        <h3 class="modal-title">Confirm Generation</h3>
    </div>
    <div class="modal-body" id="driverpayments">
        <p>Confirm Driver Payment Generation settings for {{count}} payment(s).</p>
        <hr />
        <div>
            <div class="row">
                <div class="col-md-6">
                    <div field-for="From"></div>
                </div>
                <div class="col-md-6">
                    <small class="text-muted">Use this field to limit range of bookings included in payment. Leave blank to default to all unpaid bookings over last 365 days</small>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div field-for="To"></div>
                </div>
                <div class="col-md-6">
                    <small class="text-muted">Use this field to limit range of bookings included in payment.</small>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    <div field-for="Dispute" display="Include Client Services"></div>
                </div>
                <div class="col-md-6">
                    <small class="text-muted">Use this field to determine if bookings in Client Services should be included in payment.</small>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-success" ng-disabled="formFor.form.$invalid" ng-click="confirm()"> <i class="material-icons">save</i> Submit</button>
        <button class="btn btn-xs btn-warning pull-left" ng-click="$dismiss()"> <i class="material-icons">undo</i> Cancel</button>
    </div>
</form>