<div class="row">
    <div class="col-xs-6 module-options">
        <a ng-click="newPassenger()" class="btn btn-success" ng-if="PERMISSIONS.test('passengers', 'W')"><i class="material-icons">person_add</i>New Passenger</a>
    </div>
    <div class="col-xs-6 view-options">
        <a href="" ng-click="">
            <span ng-click="toggleSearch()"><i class="material-icons">search</i>Search</span>
            <br />
            <input type="text" ng-model-options="{ debounce: 250 }" ng-model="serverSearchTerm.$" id="searchTerm" ng-show="showSearch" />
        </a>
    </div>
</div>