<div class="row">
    <div class="col-xs-7 module-options">
        <!--<a ui-sref="root.vehicles.create" class="btn btn-xs btn-primary"><i class="material-icons">add_box</i>New Vehicle</a>-->
    </div>
    <div class="col-xs-5 view-options">
        <a ui-sref="root.vehicles.cards" ui-sref-active-eq="current-view"><i class="material-icons">view_module</i>Cards</a>
        <a ui-sref="root.vehicles.table" ui-sref-active-eq="current-view"><i class="material-icons">view_headline</i>>Table</a>
        <a href="" ng-click="">
            <span ng-click="toggleSearch()"><i class="material-icons">search</i>Search</span>
            <br />
            <input type="text" ng-model="searchTerm.$" id="searchTerm" ng-show="showSearch" />
        </a>
    </div>
</div>