<div  form-for="loyaltyInfo" schema="LoyaltyAccount" mode={{viewMode}}>

    <div class="mt10 mb10" ng-if="!!loyaltyInfo">
        <button class="btn btn-primary" ng-show="viewMode == 'VIEW'" ng-click="startEdit()" ng-if="PERMISSIONS.test('settings.email','W')"><i class="material-icons">create</i>Edit</button>
        <button class="btn btn-success mr10" ng-show="viewMode == 'EDIT'" ng-click="saveEdits()"><i class="material-icons">save</i>Save</button>
        <button class="btn btn-warning" ng-show="viewMode == 'EDIT'" ng-click="cancelEdit()"><i class="material-icons">undo</i>Cancel</button>
    </div>

    <div class="row mt20">
        <div class="col-md-4">
            <div field-for="Active"></div>
           
        </div>
    </div>

    <div class="row form-group mt20">
        <div class="col-md-4">
           <label class="control-label">Active Points</label>
           <div>{{loyaltyInfo.ActivePoints}}</div>
           <div>{{loyaltyInfo.ActivePoints * conversion | currency }}</div>
        </div>
        <div class="col-md-4">
            <label class="control-label">Total Points Collected</label>
            <div>{{loyaltyInfo.TotalPointsCollected}}</div>
            <div>{{loyaltyInfo.TotalPointsCollected * conversion | currency}}</div>
        </div>
        <div class="col-md-4">
            <label class="control-label">Total Points Used</label>
           <div>{{loyaltyInfo.TotalPointsUsed}}</div>
           <div>{{loyaltyInfo.TotalPointsUsed * conversion | currency}}</div>
        </div>
    </div>

    <h5 class="mt20">Loyalty Transactions</h5> 
    <table class="table table-condensed table-hover mb10 table-bordered">
        <thead>
            <tr>
                <th><strong class="brand-secondary">Time Stamp</strong></th>
                <th><strong class="brand-secondary">Booking Ref</strong></th>
                <th><strong class="brand-secondary">Points</strong></th>
                <th><strong class="brand-secondary">Active Points</strong></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in transactions track by $index">
                <td>
                    <strong class="brand-primary">{{item.TimeStamp | date: 'dd MMM yyyy HH:mm' }}</strong>
                </td>
                <td>
                    <strong class="brand-primary">{{item.BookingId}}</strong>
                </td>
                <td>
                    <strong class="brand-primary">{{item.Points}}</strong><br>
                    <strong class="brand-primary">{{item.Points * item.AmountPerPoint | currency}}</strong>
                </td>
                <td>
                    <strong class="brand-primary">{{item.PointsAtTransaction}}</strong><br>
                    <strong class="brand-primary">{{item.PointsAtTransaction * item.AmountPerPoint | currency}}</strong>
                </td>
            </tr>
        </tbody>
    </table>


</div>

