<div class="modal-header">
    <h3 class="modal-title">Search Existing User <span class="pull-right" ng-click="$dismiss()"><i class="material-icons cancel">cancel</i></span></h3>
</div>
<div class="modal-body">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>UserName</label>
                    <div class="controls">
                        <ui-select class="edit" ng-model="info.Id" theme="selectize" name="UserInput" required="true" tabindex="1">
                            <ui-select-match placeholder="Start typing to search...">
                                <div class="select-text">
                                    <b>{{$select.selected.Username}}</b> <small class="text-muted">({{$select.selected.Email}})</small>
                                </div>
                            </ui-select-match>
                            <ui-select-choices refresh="searchUsers($select.search)" refresh-delay="400" repeat="item.Id as item in fetchedUsers">
                                <div class="select-text-option">
                                    <b>{{item.Username}}</b><br />
                                    <small class="text-muted">{{item.Email}}</small>
                                </div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div>
        <button class="btn btn-xs btn-warning pull-left" ng-click="$dismiss()"><i class="material-icons">undo</i>Cancel</button>
        <button class="btn btn-xs btn-success" ng-click="save()" ng-disabled="!info.Id"><i class="material-icons">save</i> Link User</button>
    </div>
</div>