{
  "name": "cab9-web",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "src/less/style.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"includes/css/style.min.css\",\"autoCompile\":true,\"sourceMap\":true,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "src/less/workshare.less",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":false,\"sourceMap\":false,\"compiler-less\":{\"enabled\":true},\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "webapp",
      "webapp/management/clients",
      "webapp/management/clients/item",
      "src/less",
      "src"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "src/less/style.less",
      "imports": [
        "src/less/mixins.less",
        "src/less/common.less",
        "src/less/variables.less",
        "src/less/page.less",
        "src/less/breadcrumb.less",
        "src/less/sidebar-left.less",
        "src/less/topbar.less",
        "src/less/content.less",
        "src/less/panels.less",
        "src/less/forms.less",
        "src/less/buttons.less",
        "src/less/checkbox.less",
        "src/less/select2.less",
        "src/less/selectize.less",
        "src/less/check.less",
        "src/less/info-card.less",
        "src/less/sweet-alert.less",
        "src/less/notifications.less",
        "src/less/tables.less",
        "src/less/tabs.less",
        "src/less/icons.less",
        "src/less/notes.less",
        "src/less/modal.less",
        "src/less/charts.less",
        "src/less/conversation.less",
        "src/less/cards.less",
        "src/less/score.less",
        "src/less/module.less",
        "src/less/disputes.less",
        "src/less/module-item.less",
        "src/less/dashboard.less",
        "src/less/reports.less",
        "src/less/login.less",
        "src/less/bookings.less",
        "src/less/booking-edit.less",
        "src/less/booking-stop.less",
        "src/less/quick-booking.less",
        "src/less/client-booking.less",
        "src/less/numplate.less",
        "src/less/widgets.less",
        "src/less/datepicker.less",
        "src/less/datepicker-wide.less",
        "src/less/booking-strip.less",
        "src/less/partner-card.less",
        "src/less/booking-validation-strip.less",
        "src/less/booking-window.less",
        "src/less/maps.less",
        "src/less/invoices.less",
        "src/less/settings.less",
        "src/less/nav.less",
        "src/less/selectlist.less",
        "src/less/tags.less",
        "src/less/documents.less",
        "src/less/vendor-pricing.less",
        "src/less/dispatch.less",
        "src/less/booking-filters.less",
        "src/less/features.less",
        "src/less/references.less",
        "src/less/payment-model.less",
        "src/less/client-profile.less",
        "src/less/driverpayments.less",
        "src/less/driver-assignment.less",
        "src/less/passengers.less",
        "src/less/driver-tracking.less",
        "src/less/driver-shifts.less",
        "src/less/track.less",
        "src/less/roles.less",
        "src/less/driver-earnings.less",
        "src/less/events.less",
        "src/less/global-search.less",
        "src/less/credit-card.less",
        "src/less/driver-expenses.less",
        "src/less/time-slots.less",
        "src/less/bookingcredit-card.less",
        "src/less/forgot-password.less",
        "src/less/fixed-price.less",
        "src/less/invite-to-app.less",
        "src/less/driver-bid.less",
        "src/less/vehicletypes.less",
        "src/less/telephony.less",
        "src/less/workshare.less",
        "src/less/pricing-models.less",
        "src/less/company-settings.less",
        "src/less/dispatch-bookings.less",
        "src/less/dispatch-drivers.less",
        "src/less/dispatch-map.less",
        "src/less/dispatch-filters.less",
        "src/less/dispatch-newbooking.less"
      ]
    }
  ],
  "projectView": {
    "selectedView": "log"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": true,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}