<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <clear />
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            <add input="{REQUEST_FILENAME}" pattern="^track" negate="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <!--<add value="login.html" />-->
      </files>
    </defaultDocument>
  </system.webServer>
  <location path="track" allowOverride="false">
    <system.webServer>
      <rewrite>
        <rules>
          <clear />
          <rule name="AngularJS Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_FILENAME}" pattern="(.*?)\.js$" negate="true" />
              <add input="{REQUEST_FILENAME}" pattern="(.*?)\.css$" negate="true" />
            </conditions>
            <action type="Rewrite" url="/track/" />
          </rule>
        </rules>
      </rewrite>
      <staticContent>
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>