<div class="three-panel-layout">
    <div class="panel panel-default" ng-class="panel.currentConfig.class" ng-style="{ width: panel.currentConfig.width, height: panel.currentConfig.height }">
        <div class="panel-heading">
            <h3 class="panel-title">Info</h3>
            <div class="resize-options">
                <a ng-click="panel.switchConfig('B')" ng-show="panel.mode === 'L'">&#x2C5;</a>
                <a ng-click="panel.switchConfig('L')" ng-show="panel.mode === 'B'"><</a>
            </div>
        </div>
        <div class="panel-body">
            <ui-view name="panel"></ui-view>
        </div>
    </div>
    <div class="panel panel-default main-section" ng-style="{ bottom: panel.currentConfig.height, left: panel.currentConfig.width }">
        <div class="panel-heading">
            <h3 class="panel-title">Map</h3>
            <div class="resize-options">
                <span class="dropdown left" dropdown>
                    <a dropdown-toggle><i class="icon icon-eye"></i></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Show</li>
                        <li><a class="underline" ng-class="{ active: show.drivers }" ng-click="show.drivers = !show.drivers">&nbsp;&nbsp;&nbsp;Drivers</a></li>
                        <li><a class="underline" ng-class="{ active: show.bookings }" ng-click="show.bookings = !show.bookings">&nbsp;&nbsp;&nbsp;Bookings</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Clustering</li>
                        <li><a class="underline" ng-class="{ active: clustering.drivers }" ng-click="clustering.drivers = !clustering.drivers">&nbsp;&nbsp;&nbsp;Drivers</a></li>
                        <li><a class="underline" ng-class="{ active: clustering.bookings }" ng-click="clustering.bookings = !clustering.bookings">&nbsp;&nbsp;&nbsp;Bookings</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Labels</li>
                        <li><a class="underline" ng-class="{ active: view.drivers }" ng-click="toggleDriverLabels()">&nbsp;&nbsp;&nbsp;Drivers</a></li>
                        <li><a class="underline" ng-class="{ active: view.bookings }" ng-click="toggleBookingLabels()">&nbsp;&nbsp;&nbsp;Bookings</a></li>
                    </ul>
                </span>
                <span class="dropdown left" dropdown>
                    <a dropdown-toggle><i class="material-icons">menu</i></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Fit</li>
                        <li><a ng-click="fit(null, driverMarkers)">&nbsp;&nbsp;&nbsp;Drivers</a></li>
                        <li><a ng-click="fit(bookingMarkers, null)">&nbsp;&nbsp;&nbsp;Bookings</a></li>
                        <li><a ng-click="fit(bookingMarkers, driverMarkers)">&nbsp;&nbsp;&nbsp;Both</a></li>
                        <li class="divider"></li>
                        <li>
                            <a class="underline" ng-class="{ active: traffic.show }" ng-click="traffic.show = !traffic.show">
                                Toggle Traffic
                            </a>
                        </li>
                        <li>
                            <a class="underline" ng-class="{ active: heatmap.show }" ng-click="heatmap.show = !heatmap.show">
                                Toggle Heatmap
                            </a>
                        </li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="panel-body" style="overflow:hidden;">
            <ui-view name="mainsection"></ui-view>
        </div>
    </div>
</div>