<form form-for="reference" schema="ClientReference" mode="{{viewMode}}" class="reference-modal" novalidate>
    <div class="modal-header">
        <h3 class="modal-title">Client Reference <span class="pull-right" ng-click="$dismiss()"><i class="material-icons">clear</i></span></h3>
    </div>
    <div class="modal-body">
        <div>
            <div class="row">
                <div class="col-md-4">
                    <div field-for="ReferenceName"></div>
                </div>
                <div class="col-md-4" ng-show="viewMode != 'EDIT'">
                    <div field-for="ReferenceType" required="true"></div>
                </div>
                <div class="col-md-4" ng-show="viewMode == 'EDIT'">
                    <div class="form-group">
                        <label class="control-label">Reference Type</label><br />
                        <span class="form-control-static">{{reference.ReferenceType}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div field-for="Active"></div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4">
                    <div field-for="Mandatory"></div>
                </div>
                <div class="col-md-4" ng-show="reference.ReferenceType == 'List'">
                    <div field-for="AllowAddToList"></div>
                </div>
                <div class="col-md-4" ng-show="reference.ReferenceType == 'List'">
                    <div field-for="ShowList"></div>
                </div>
            </div>
        </div>
        <div ng-show="reference.ReferenceType == 'List' && viewMode == 'CREATE' && !reference.$manualEntry">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Upload a csv</label>
                        <input type="file" id="file" file-data-picker data="reference.$data" file="reference.$file" name="file" ng-required="viewMode=='CREATE'" novalidate>
                    </div>
                </div>
                <div class="col-md-6">
                    <br />
                    <a class="btn btn-link" ng-click="reference.$manualEntry = true">Or Add Manually</a>
                </div>
                <div class="col-md-12">
                    <div class="help">
                        <small>Please use a CSV file with reference numbers as a list. Please ensure that each line is just a single reference. The below image is an example Excel file with references.</small>
                        <img src="/includes/images/csv.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="reference.ReferenceType == 'List' && viewMode == 'CREATE' && reference.$manualEntry">
            <div class="row">
                <div class="col-md-6">
                    <div field-for="Value" textarea="6" display="Valid Values"></div>
                </div>
                <div class="col-md-6">
                    <br />
                    <a class="btn btn-link" ng-click="reference.$manualEntry = false">Or Upload File</a>
                </div>
                <div class="col-md-12">
                    <div class="help">
                        <small>Please ensure that each line is just a single reference.</small>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="reference.ReferenceType == 'Mask'">
            <div class="row">
                <div class="col-md-6">
                    <div field-for="Value"></div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Test</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="reference.$testValue" />
                            <span class="input-group-btn">
                                <button class="btn btn-default">
                                    <i class="material-icons" ng-show="reference.$testValue && !reference.$testReg.test(reference.$testValue)">close</i>
                                    <i class="material-icons" ng-show="reference.$testValue && reference.$testReg.test(reference.$testValue)">check</i>
                                    <i class="material-icons" ng-show="!reference.$testValue">help_outline</i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <small>
                        Please use the following schema for the mask.
                    </small>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th style="width:60px;">Symbol</th>
                                <th>Meaning</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>A</td>
                                <td style="white-space: normal;">Alphanumeric character only in this position. (A-Z, a-z, 0-9)</td>
                            </tr>
                            <tr>
                                <td>a</td>
                                <td style="white-space: normal;">Optional alphanumeric character in this position. (A-Z, a-z, 0-9)</td>
                            </tr>
                            <tr>
                                <td>L</td>
                                <td style="white-space: normal;">Letter character only in this position. (A-Z, a-z)</td>
                            </tr>
                            <tr>
                                <td>l</td>
                                <td style="white-space: normal;">Optional letter character only in this position. (A-Z, a-z)</td>
                            </tr>
                            <tr>
                                <td>0</td>
                                <td style="white-space: normal;">Numeric character only in this position. (0-9)</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td style="white-space: normal;">Optional numeric character only in this position. (0-9)</td>
                            </tr>
                            <tr>
                                <td>></td>
                                <td style="white-space: normal;">Start an uppercase block or end a lowercase block.</td>
                            </tr>
                            <tr>
                                <td><</td>
                                <td style="white-space: normal;">Start an lowercase block or end a uppercase block.</td>
                            </tr>
                            <tr>
                                <td>'</td>
                                <td style="white-space: normal;">Start/End an verbatim block.</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" ng-show="viewMode=='EDIT' && reference.ReferenceType == 'List'">
            <label class="control-label">Choose an action</label>
            <select class="form-control" ng-model="selected.action" ng-options="a for a in actions">
                <option value="">-- choose an option --</option>
            </select>
        </div>
        <div class="row" ng-show="viewMode!='EDIT'">
            <div class="col-md-6">
                <div class="form-group file-preview" ng-show="reference.$data">
                    <label class="control-label">Preview</label>
                    <span style="white-space:pre-line" ng-bind="reference.$data"></span>
                </div>
            </div>
        </div>

        <div class="row" ng-show="viewMode=='EDIT'">
            <div class="col-md-6">
                <div class="form-group" ng-show="selected.action=='Replace CSV'">
                    <label class="control-label">Upload a csv</label>
                    <input type="file" id="file" file-data-picker data="reference.$data" file="reference.$file" name="file" ng-required="viewMode=='CREATE'" novalidate>
                </div>
                <div class="form-group" ng-show="selected.action=='Add Known Values'">
                    <label class="control-label">Add Known Values</label>
                    <textarea class="form-control" ng-model="reference.$KnownValues" placeholder="Enter 1 per line" rows="6"></textarea>
                </div>
                <div class="form-group" ng-show="selected.action=='Delete Known Values'">
                    <label class="control-label">Delete Known Values</label>
                    <textarea class="form-control" ng-model="reference.$KnownValues" placeholder="Enter 1 per line" rows="6"></textarea>
                </div>
                <div class="form-group" ng-show="selected.action=='Validate Known Value'">
                    <label class="control-label">Validate Known Value</label>
                    <input class="form-control" type="text" ng-model="reference.$KnownValues" />
                </div>
                <i class="material-icons validate-tick" style="color:green" ng-show="valid=='valid'">done</i>
                <i class="material-icons validate-tick" style="color:red" ng-show="valid=='invalid'">clear</i>
            </div>
            <div class="col-md-6">
                <div class="form-group file-preview" ng-show="reference.$data && selected.action=='Replace CSV'">
                    <label class="control-label">Preview</label>
                    <span style="white-space:pre-line" ng-bind="reference.$data"></span>
                </div>
                <div ng-show="selected.action=='Validate Known Value'" class="mt25">
                    <button class="btn btn-xs btn-primary" ng-click="validate()">
                        <i class="material-icons">save</i> Validate
                    </button>
                </div>
            </div>
        </div>
        <progressbar ng-show="progress !== null" value="progress">Uploading</progressbar>
    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-warning pull-left" ng-click="$dismiss()">
            <i class="material-icons">undo</i>Cancel
        </button>
        <button class="btn btn-xs btn-success" ng-click="save()" ng-disabled="formFor.form.$invalid || (reference.ReferenceType == 'Mask' && testMask(reference.Value))">
            <i class="material-icons">save</i> Save {{(selected.action) ? (' & ' + selected.action) : ''}}
        </button>
    </div>
</form>