<div class="row">
    <div class="col-md-4">
        <div class="mt16 mb30">
            <h3 class="section-title mt0">Price List Generator</h3>
            <button class="btn btn-success" ng-click="generate()" ng-disabled="query.from==''||query.to==''">
                <i class="material-icons">save</i>Generate
            </button>
            <button class="btn btn-primary" ng-show="progress==null && priceList.length>0" ng-click="download()">
                <i class="material-icons large">file_download</i> Download
            </button>
        </div>
        <progressbar ng-show="progress !== null" value="progress"></progressbar>
        <small>Please choose a vehicle type:</small>
        <div class="form-group">
            <select class="form-control" ng-model="query.vehicleTypeId" ng-options="option.Id as option.Name for option in vehicleTypes">
            </select>
        </div>
        <small>Please choose all the from Postcodes:</small>
        <div class="form-group mt10 mb20">
            <div class="form-edit">
                <textarea rows="5" class="form-control" ng-model="query.from" required /></textarea>
            </div>
        </div>
        <small>Please choose all the to Postcodes:</small>
        <div class="form-group mt10">
            <div class="form-edit">
                <textarea rows="5" class="form-control" ng-model="query.to" required></textarea>
            </div>
        </div>
    </div>
    <div class="col-md-8 price-list-table" ng-if="showTable">
        <h3 class="section-title mt0">{{progressString}}</h3>
        <div class="table-responsive mt0">
            <table class="table table-bordered table-condensed primary-table">
                <thead>
                    <tr>
                        <th style="">Form</th>
                        <th style="">To</th>
                        <th style="" class="text-right">Estimated Distance</th>
                        <th style="" class="text-center">Estimated Time</th>
                        <th style="" class="text-right">Cost(£)</th>
                    </tr>
                </thead>
                <tbody ng-if="priceList.length>0">
                    <tr ng-repeat="item in priceList track by $index">
                        <td><span ng-bind="::item.from"></span></td>
                        <td><span ng-bind="::item.to"></span></td>
                        <td class="text-right"><span ng-bind="::((item.EstimatedDistance | number:2) + ' mi.')"></span></td>
                        <td class="text-center"><span ng-bind="::(item.EstimatedMins + ' mins')"></span></td>
                        <td class="text-right"><strong ng-bind="::item.FinalCost | currency"></strong></td>
                    </tr>
                </tbody>
                <tbody ng-if="priceList.length==0">
                    <tr>
                        <td colspan="5" class="text-center">
                            No Data found.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
