<div class="login-wrapper">
    <div class="hero">
        <div class="background"></div>
        <div class="logo">
            <!-- <img src="/includes/images/cab9-logo.png" alt="Cab 9" /> -->
            <div class="cab9-brand">
                CAB <span class="red">9</span>
            </div>
        </div>
        <div class="features hidden-xs hidden-sm">
            <div class="row">
                <div class="col-md-12 feature">
                    <i class="material-icons">person</i>
                    <div class="desc">
                        <span class="tag-line">
                        	Powerful, Simple and Innovative way to manage your Taxi Business.
                        </span>
                        The most advanced, feature rich taxi system available. Cab9 is a cloud based business management tool for taxi and chauffeuring firms.The innovative design &amp; powerful capability allows you to communicate with your business in a seamless manner. The solution includes a simple yet sophisticated automated dispatch system, business management, reporting and invoice production capabilities.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="login-container">
        <div class="login-box">
            <p class="pt35 hidden-xs">Sign into your <strong class="blue">Cab9</strong> Account.</p>
            <form id="login-form">
                <div class="form-group">
                    <label>Login</label>
                    <div class="controls">
                        <input type="text" name="username" placeholder="User Name or Email" ng-model="username" class="form-control" required />
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <div class="controls">
                        <input type="password" class="form-control" name="password" ng-model="password" placeholder="Password" required />
                    </div>
                </div>
                <small class="red" ng-show="loginFailed">Incorrect Login Details</small>
                <button id="login-button" class="btn btn-primary mt10 pull-right" ng-click="login(username, password)">Log in to Your Account</button>
            </form>
        </div>
        <div class="cims-info">
            <div class="row">
                <div class="col-md-2 col-sm-3 no-padding">
                    <img src="/includes/images/e9ine-circle.png" />
                </div>
                <div class="col-md-10 col-sm-9 info">
                    <strong class="brand-primary">e9ine</strong>.<br /> Contact e9ine for account details.
                </div>
            </div>
        </div>
    </div>
</div>
