<div id="shift-notes">
    <div class="modal-header">
        <h3 class="modal-title">Shift Notes</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="">Notes for Driver Shift</label>
            <textarea name="" id="" cols="30" rows="10" class="form-control" ng-model="shiftNotes"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-xs btn-warning pull-left" ng-click="$dismiss()"><i class="material-icons">undo</i>Cancel</button>
        <button class="btn btn-xs btn-success pull-right" ng-click="saveNotes()"><i class="material-icons">save</i>Save</button>
    </div>
</div>
