<h1 class="page-title" ng-bind="pageName"></h1>
<div class="quick-navigate-wrapper" ng-click="quickNavigateInit()" ng-if="quickNavAvailable">
    <i class="material-icons">search</i> <span class="hidden-xs">Quick Navigate <strong>to Anything</strong></span>
</div>
<div class="new-booking">
	<!-- <button href="" class="btn btn-primary btn-round" ng-disabled="!quickBookingAvailable" tooltip-placement="bottom" tooltip="New Booking" title="New Booking" ng-click="addQuickBooking()">
		<i class="material-icons">note_add</i>
	</button> -->
</div>
<div class="user-options">
    
</div>