<h3 class="section-title mt0">
    Fixed Prices
</h3>

<p class="grey">
    This view shows fixed price Defaults and overrides added per pricing zone with vehicle types. Click on
    <strong class="brand-secondary">Add Fixed Pricing</strong> to add new fixed pricing or click on values to edit existing values. For importing csv to
    add pricings click on
    <strong class="brand-secondary">Import Fixed Pricings</strong>. To delete existing pricing click on
    <strong class="brand-secondary">Delete</strong> and select rows to delete. For deleting specific fixed price, right click on it to delete.
</p>

<div class="row">
    <div class="col-md-6">
        <a class="btn btn-success" ng-show="!addNew && !showDeleteCheckbox" ng-click="startNew()">
            <i class="material-icons">playlist_add</i>Add Fixed Pricing</a>
        <a class="btn btn-success" ng-show="addNew && !showDeleteCheckbox" ng-click="saveNew(newfixed)">
            <i class="material-icons">done</i>Save New Fixed Pricing</a>
        <a class="btn btn-success" ng-show="!showDeleteCheckbox" ng-click="startImport()">
            <i class="material-icons">playlist_add</i>Import Fixed Pricings</a>
        <a class="btn btn-danger" ng-click="deleteSelected()">
            <i class="material-icons">delete</i>Delete</a>
        <a class="btn btn-warning" ng-show="showDeleteCheckbox" ng-click="cancelDelete()">
            <i class="material-icons">undo</i>Cancel</a>
        <a class="btn btn-warning" ng-show="addNew" ng-click="cancelNewEdit()">
            <i class="material-icons">undo</i>Cancel</a>
    </div>
    <div class="col-md-6">
        <div class="view-options pull-right">
            <a ng-click="showFilters=!showFilters">
                <i class="material-icons">build</i>Filter
            </a>
        </div>
    </div>
</div>

<div class="filter-options" ng-class="(showFilters)?'show-filter':'hide-filter'">
    <div class="form-group">
        <label for="">Choose From Zone</label>
        <select class="form-control" ng-model="filters.fromZone" ng-options="zone.Id as zone.Name for zone in zones|filter:{Id:'!!'}">
            <option value="">All</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">Choose To Zone</label>
        <select class="form-control" ng-model="filters.toZone" ng-options="zone.Id as zone.Name for zone in zones|filter:{Id:'!!'}">
            <option value="">All</option>
        </select>
    </div>
    <div class="form-group">
        <label for="">From Postcode</label>
        <input type="text" class="form-control" ng-model="filters.fromPostcode" placeholder="From Postcode" />
    </div>
    <div class="form-group">
        <label for="">To Postcode</label>
        <input type="text" class="form-control" ng-model="filters.toPostcode" placeholder="To Postcode" />
    </div>
    <a class="btn btn-primary pull-right" ng-click="filter()">
        <i class="material-icons">location_searching</i>Filter</a>
</div>

<div class="table-responsive mt20 outer-frame">
    <table class="table table-alternate" ng-style="{ 'width': (750 + (125 * vehicleTypes.length)) + 'px'}">
        <thead>
            <tr>
                <th ng-show="showDeleteCheckbox" style=" width: 20px;" class="fixed-top-header"></th>
                <th colspan="4" class="fixed-top-header">
                    Defaults
                </th>
                <th ng-hide="vehicleTypes.length == 0" colspan="{{vehicleTypes.length}}" class="fixed-top-header">
                    Vehicle Type Overrides
                </th>
            </tr>
            <tr class="fixed-header">
                <th ng-show="showDeleteCheckbox"></th>
                <th style="width:200px;">From</th>
                <th style="width:200px;">To</th>
                <th id="solid-border" class="input-text-right " style="width:125px;">Fixed Fare(£)</th>
                <!-- <th id="solid-border both-ways" style="width:125px;text-align: center;">Both Ways</th> -->
                <th class="input-text-right" ng-repeat="vt in vehicleTypes" style="width:125px;">
                    {{vt.Name}}(£)
                </th>
            </tr>
        </thead>

        <tbody ng-show="(fixeds.length==0 || fixeds == undefined) && !addNew">
            <tr>
                <td colspan="100" style="padding: 15px !important;">
                    No Fixed Prices Added.
                </td>
            </tr>
        </tbody>

        <tbody ng-show="addNew">
            <tr class="new-fixed-price-row">
                <td>
                    <input-dropdown fixed="newfixed" on-element-click="SaveChanges(newfixed)" is-from="true" filter-list-method="filterObjectList(userInput)"
                        allow-custom-input="true" input-placeholder="From Postcode/Zone" input-required="true" selected-item="newfixed.$SelectedFrom"
                        default-dropdown-items="dropdownItems"></input-dropdown>
                </td>
                <td>
                    <input-dropdown fixed="newfixed" filter-list-method="filterObjectList(userInput)" is-to="true" allow-custom-input="true"
                        input-placeholder="To Postcode/Zone" input-required="true" selected-item="newfixed.$SelectedTo" default-dropdown-items="dropdownItems"></input-dropdown>
                    </td>
                <td id="solid-border">
                    <input type="text" ng-change="saveChanges(newfixed)" class="input-text-right form-control" min="0" max="1000" ng-model="newfixed.Amount"
                        placeholder="(fixed price)" />
                    </td>
                <td ng-repeat="vt in vehicleTypes">
                    <input type="text" class="input-text-right form-control" min="0" max="1000" ng-init="$$val = null" ng-model="$$val" ng-change="setVehicleTypeCost(newfixed, vt, $$val)" placeholder="(base fare)"/> 
                </td>
            </tr>
        </tbody>

        <tbody ng-disabled="disabled">

            <tr ng-repeat="fixed in fixeds | orderBy: '-CreationTime'" id="row{{$index}}" context="context2">
                <td ng-show="showDeleteCheckbox" style="padding-right:10px !important;">
                    <div class="checkbox">
                        <input type="checkbox" id="{{$index}}delete" class="form-control" ng-model="fixed.delete" />
                        <label for="{{$index}}delete"></label>
                    </div>
                </td>
                <td>
                    <input-dropdown fixed="fixed" on-element-click="SaveChanges(fixed)" is-from="true" filter-list-method="filterObjectList(userInput)"
                        allow-custom-input="true" input-placeholder="From Postcode/Zone" input-required="true" selected-item="fixed.$SelectedFrom"
                        default-dropdown-items="dropdownItems"></input-dropdown>
                        <ul id="context2" class="dropdown-menu" ng-click="remove($index)">
                            <li>
                                <a id="btndelete">Delete</a>
                            </li>
                        </ul>
                </td>
                <td>
                    <input-dropdown fixed="fixed" filter-list-method="filterObjectList(userInput)" is-to="true" allow-custom-input="true" input-placeholder="To Postcode/Zone"
                        input-required="true" selected-item="fixed.$SelectedTo" default-dropdown-items="dropdownItems"></input-dropdown>
                        <ul id="context2" class="dropdown-menu" ng-click="remove($index)">
                            <li>
                                <a id="btndelete">Delete</a>
                            </li>
                        </ul>
                    </td>
                <td id="solid-border">
                    <input type="text" ng-change="saveChanges(fixed)" class="input-text-right form-control" placeholder="(fixed price)" ng-model="fixed.Amount"/>
                    <ul id="context2" class="dropdown-menu" ng-click="remove($index)">
                        <li>
                            <a id="btndelete">Delete</a>
                        </li>
                    </ul>
                </td>
                <td ng-repeat="vt in vehicleTypes">
                    <input type="text" class="input-text-right form-control" min="0" max="1000" ng-init="$$val = getVehicleTypeCost(fixed, vt)" ng-model="$$val" ng-change="setVehicleTypeCost(fixed, vt, $$val)" placeholder="(base fare)" /> 
                    <ul id="context2" class="dropdown-menu" ng-click="remove($index)">
                        <li>
                            <a id="btndelete">Delete</a>
                        </li>
                    </ul>
                </td>            
            </tr>
        </tbody>
    </table>
</div>


<div>
    <pagination total-items="paging.totalResults" ng-model="paging.currentPage" max-size="5" class="pagination-sm" boundary-links="true"
        items-per-page="paging.resultsPerPage" ng-change="setPage(paging.currentPage)"></pagination>
</div>