.cards-view-options {
    margin-bottom: 0px;
    height: 55px;
    .group-filters {
        width: auto;
        height: 55px;
        overflow: scroll;
        white-space: nowrap;
        .hide-scrollbars()
    }
    .toggle-score {
        padding-top: 5px;
    }
    .show-hide-score {}
    .group-options {
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
        border-bottom: 3px solid @lighter-grey;
        text-transform: uppercase;
        padding-bottom: 5px;
        font-size: 12px;
        font-weight: 600;
        color: @light-grey !important;
        .standard-transition(all);
        &:hover,
        &.active {
            color: @brand-primary !important;
            border-color: @brand-secondary;
        }
    }
    .group-select {
        -webkit-appearance: none;
        background-color: @brand-primary;
        .border-radius(3px);
        color: #fff;
        padding: 3px 4px;
        border: 1px solid @brand-primary;
        background-image: url('/includes/images/select-white.png');
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: right 7px center;
        outline: 0 !important;
    }
    @media(max-width:767px) {
        .group-filters {
            height: auto;
        }
        .group-options {
            margin-bottom: 0;
        }
        .toggle-score {
            padding-top: 0px;
            margin-bottom: 15px;
        }
    }
}

.tooltip.in {
    .opacity(90);
}

.card {
    width: 150px;
    float: left;
    margin: 0 40px 48px 0;
    overflow: visible;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    color: @grey;
    height: 175px;
    position: relative;
    &.inactive {
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
    &.single {
        float: none;
        margin-top: 30px;
        margin-bottom: 20px;
        .center-block();
    }
    &.module-item-card {
        height: 130px;
        margin-bottom: 0;
        margin-right: 0;
    }
    >.card-container {
        width: 100%;
        .logo {
            .border-radius(60px);
            .center-block();
            .transition(all 100ms);
            margin-bottom: 10px;
            background-color: #ddd;
            width: 120px;
            height: 120px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .box-shadow(0 1px 4px rgba(0, 0, 0, 0.3));
            circle {
                .rotate(-90deg);
                .transform-origin(center);
                .transition(all 0.5s);
                .opacity(100);
                .animate(0.4,
                fadeIn);
                &.ng-hide-add,
                &.ng-hide-remove {
                    display: block;
                }
                &.ng-hide-remove {}
                &.ng-hide-add {
                    .animate(0.4,
                    fadeOut);
                }
            }
        }
        strong {
            .center-block();
            margin-bottom: 0px;
            color: @grey;
            width: 150px;
            line-height: 22px;
            text-align: center;
            i {
                font-size: 16px;
                position: absolute;
                top: 0;
                left: 0;
                line-height: 20px;
            }
        }
        small {
            i {
                margin: 0 5px;
                line-height: 20px;
                font-size: 14px;
            }
            span {
                font-weight: 600;
                color: #777;
            }
        }
    }
    &:hover {
        >.card-container {
            .logo {
                // background-size: 140px;
            }
        }
    }
    ;
    @media only screen and (min-width: 769px) and (max-width: 1159px) {
        width: 20%;
        margin-right: 0;
        >.card-container {
            .logo {
                width: 100px;
                height: 100px;
                background-size: 100px;
            }
        }
    }
    @media only screen and (min-width: 415px) and (max-width: 767px) {
        width: 25% !important;
        margin-right: 0;
        >.card-container {
            .logo {
                width: 100px;
                height: 100px;
                background-size: 100px;
            }
        }
    }
    @media only screen and (max-width: 414px) {
        width: 50%;
        margin-right: 0;
        >.card-container {
            .logo {
                width: 100px;
                height: 100px;
                background-size: 100px;
            }
        }
    }
}

.image-edit {
    position: relative;
    .card {
        float: none;
        width: 120px;
        .center-block();
    }
    .image-edit-overlay {
        position: absolute;
        height: 130px;
        width: 120px;
        position: absolute;
        z-index: 1000;
        top: 0;
        left: 50%;
        margin-left: -60px;
        i {
            position: absolute;
            height: 50px;
            width: 50px;
            .border-radius(25px);
            top: 50%;
            left: 50%;
            margin-left: -25px;
            line-height: 50px;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            text-align: center;
            font-size: 22px;
            cursor: pointer;
            display: none;
        }
        &:hover {
            i {
                .animate(0.3,
                fadeInDown);
                display: block;
            }
        }
    }
}