<div class="modal-header">
    <h3 class="modal-title">Disclaimer</h3>
</div>
<div class="modal-body">
    <p>By logging onto this booking platform you acknowledge that your personal information regarding the provision of taxi and private hire services may be retained and viewed by other users within your organisation, who make bookings on behalf of the Firm. Your data will be stored in accordance with our Data Protection Policy and will not be shared. The information provided would be used for general identification and ease of booking purposes only.</p>

    <p>To remove this message at every login point, please confirm your continued consent of the above statement below.</p>
</div>
<div class="modal-footer text-left">
    <label>
        Do Not Show Again: <input type="checkbox" ng-model="doNotShow" />
    </label>
    <button class="btn btn-xs btn-success pull-right" ng-click="confirm()"><i class="material-icons">date_range</i> Agree</button>
</div>
