<div class="module-item">
    <div class="module-item-cover"></div>
    <div class="module-item-nav-bar">
        <card class="module-item-card" allow-click="false" show-score="false" class="single pull-left" show-title="false" show-subtitle="false" ng-if="accessors.LogoUrl(item)"></card>
        <div class="module-item-brief" ng-class="!(accessors.LogoUrl(item))? 'compact':''">
            <h3 ng-class="!(accessors.SubTitle(item))? 'solo':''">{{accessors.Title(item)}}</h3>
            <h4>{{accessors.SubTitle(item)}}</h4>
        </div>
        <tabs data="tabDefs" type="tabs" justified="false" active="false" disabled="true"></tabs>
    </div>
    <div class="module-item-options" ui-view name="options-area"></div>
    <div class="module-item-content">
        <ui-view class="tab-content"></ui-view>
    </div>
</div>