<div class="module" id="invoice-edit">
    <h2 class="page-title">Invoice Details</h2>
    <div class="row">
        <div class="col-sm-6">
            <div ng-if="displayMode === 'VIEW'">
                <button class="btn btn-xs btn-warning" ng-click="startEditing()" ng-if="PERMISSIONS.test('invoices.viewer','W')"> <i class="material-icons">create</i> Edit</button>
            </div>
            <div ng-if="displayMode === 'EDIT'">
                <button class="btn btn-xs btn-success" ng-click="saveEdits()" ng-disabled="formFor.form.$invalid"> <i class="material-icons">save</i> Save</button>
                <button class="btn btn-xs btn-warning" ng-click="cancelEditing()"> <i class="material-icons">undo</i> Cancel</button>
                <button class="btn btn-xs btn-success" ng-click="markAsPaid()" ng-show="invoice.Status != 'Paid'"><i class="material-icons">done</i>Mark As Paid</button>
                <button class="btn btn-xs btn-warning" ng-click="invoice.Status='UnPaid';markStatus()" ng-show="invoice.Status == 'Paid'"><i class="material-icons">close</i>Mark As UnPaid</button>
            </div>
        </div>
        <div class="col-sm-6 text-right" ng-if="displayMode === 'VIEW'">
            <button class="btn btn-xs btn-success" ng-click="logPayments()"> <i class="material-icons">monetization_on</i> Payments</button>
            <button class="btn btn-xs btn-info" ng-click="exportReceipt()"> <i class="material-icons">insert_drive_file</i> Export PDF</button>
            <button class="btn btn-xs btn-info" ng-click="exportReceiptExcel()"> <i class="material-icons">insert_drive_file</i> Export Excel</button>
            <button class="btn btn-xs btn-info" ng-click="emailTo()"> <i class="material-icons">mail</i> Email</button>
        </div>
        <div class="col-sm-6 text-right" ng-if="displayMode === 'EDIT'">
            <button class="btn btn-xs btn-danger" ng-click="deleteInvoice()" ng-if="PERMISSIONS.test('invoices.viewer','D')"> <i class="material-icons">delete</i> Delete</button>
        </div>
    </div>
    <div class="mt30">
        <div form-for="invoice" schema="Invoice" mode="{{displayMode}}" class="viewer">
            <div class="invoice">
                <div class="row" id="company-information">
                    <div class="col-sm-2">
                        <card class="module-item-card" allow-click="false" show-score="false" show-title="false" show-subtitle="false"></card>
                    </div>
                    <div class="col-sm-3">
                        <h4 ng-bind="COMPANY.Name" class="grey thin"></h4>
                        <p ng-bind-html="COMPANY._FullAddress"></p>
                    </div>
                    <div class="col-sm-7 text-right">
                        <h2 class="grey thin">INVOICE</h2>
                    </div>
                </div>
                <div class="row mt50">
                    <div class="col-md-6">
                        <small class="text-muted">For the attention of:</small>
                        <br />
                        <span class="bold" ng-bind-html="invoice.Client.Name"></span>
                        <div class="row">
                            <div class="col-sm-8">
                                <p ng-bind-html="invoice.Client._FullBillingAddress"></p>
                            </div>
                        </div>
                        <span>P: {{invoice.Client.BillingPhone}}</span>
                        <br />
                        <span>M: {{invoice.Client.BillingMobile}}</span>
                        <br />
                        <span>E: {{invoice.Client.BillingEmail}}</span>
                    </div>
                    <div class="col-sm-3 col-sm-offset-3 text-right">
                        <div class="mb20 invoice-status">
                            <span class="upper t-xxl {{invoice.Status}}" ng-bind="invoice.Status"></span>
                        </div>
                        <div class="mb20">
                            <div class="form-group">
                                <strong class="upper brand-primary">Account Number:</strong>
                                <br />{{invoice.Client.AccountNo}}
                            </div>
                        </div>
                        <div ng-show="displayMode === 'VIEW'">
                            <div class="mb20">
                                <strong class="upper brand-primary">Invoice Ref: </strong>
                                <br />{{invoice.Reference}}
                            </div>
                            <div class="mb20">
                                <strong class="upper brand-primary">Created On: </strong>
                                <div>
                                    {{invoice.CreationTime | companyDate:'DD/MM/YYYY'}}
                                </div>
                            </div>
                            <div class="mb20">
                                <strong class="upper brand-primary">Tax Date: </strong>
                                <div>
                                    {{invoice.DueDate | companyDate:'DD/MM/YYYY':'utc'}}
                                </div>
                            </div>
                            <div class="mb20">
                                <strong class="upper brand-primary">Due Date: </strong>
                                <div>
                                    {{invoice.$dueDate | companyDate:'DD/MM/YYYY':'utc'}}
                                </div>
                            </div>
                        </div>
                        <div ng-show="displayMode === 'EDIT'">
                            <div class="mb20">
                                <div field-for="Reference" display="Invoice Ref"></div>
                            </div>
                            <div class="mb20">
                                <div field-for="CreationTime" display="Created On"></div>
                            </div>
                            <div class="mb20">
                                <div field-for="DueDate" display="Tax Date"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-invoices" ng-if="invoice.Bookings.length == 0">
                    <h3 class="section-title"><i class="fa fa-circle-o-notch fa-spin"></i> Fetching {{invoice.NoOfBookings}} bookings. Please wait...</h3>
                </div>
                <div class="invoices" ng-if="invoice.Bookings.length > 0">
                    <h3 class="section-title mt0">Bookings</h3>
                    <button ng-click="removeBookings()" class="btn btn-xs btn-warning btn-fix" ng-disabled="!anySelected()">
                        <i class="material-icons">close</i>Remove Selected Bookings
                    </button>
                    <div class="table-responsive mt20">
                        <table class="table table-bordered table-hover table-condensed bookings-table payments-table">
                            <thead>
                                <tr>
                                    <th style="width:5%" class="text-center">
                                        <div class="checkbox">
                                            <input type="checkbox" id="table-group-check" ng-click="toggleSelectAll()" ng-checked="allSelected()">
                                            <label for="table-group-check"></label>
                                        </div>
                                    </th>
                                    <th style="width:15%">Details</th>
                                    <th style="width:35%">Description</th>
                                    <th style="width:10%" class="text-right">Amount</th>
                                    <th style="width:10%" class="text-right">Waiting</th>
                                    <th style="width:10%" class="text-right">Extras</th>
                                    <th style="width:10%" class="text-right">Charges</th>
                                    <th style="width:10%" class="text-right">Tax</th>
                                    <th style="width:10%" class="text-right">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="booking in invoice.Bookings" ng-class="booking.BookingStatus">
                                    <td class="text-center" style="padding-left:20px !important;">
                                        <div class="checkbox">
                                            <input type="checkbox" id="bookingSelectedCheck{{booking.LocalId}}" ng-model="booking.$selected" />
                                            <label for="bookingSelectedCheck{{booking.LocalId}}"></label>
                                        </div>
                                    </td>
                                    <td>
                                        <strong>#{{booking.LocalId}}</strong>
                                        <br /> {{booking.BookedDateTime | companyDate:'DD/MM/YYYY HH:mm' }}
                                        <br /> <strong class="upper status">{{booking.BookingStatus}}</strong>
                                    </td>
                                    <td style="overflow:hidden;">
                                        <strong>Passenger: </strong>{{booking.PassengerName}}
                                        <br />
                                        <div ng-repeat="stop in booking.BookingStops | orderBy:'StopOrder'">
                                            <strong>{{$first ? 'From:' : ($last ? 'To:' : 'Via') }} </strong>{{stop.StopSummary}}
                                        </div>
                                        <strong>VehicleType: </strong>{{booking.VehicleTypeName}}
                                        <div ng-repeat="cr in booking.BookingValidations"><strong>{{cr.ClientReference.ReferenceName}} </strong>{{cr.Value}}</div>
                                        <div ng-repeat="exp in booking.Expenses">
                                            <strong>{{exp.Name}}: </strong>{{exp.Amount | Format}}
                                        </div>
                                        <div ng-repeat="adj in booking.Adjustments">
                                            <strong>{{adj.Name}}: </strong>{{adj.Amount | Format}}
                                        </div>
                                        <strong>Estimated Distance(mi.): </strong>{{booking.EstimatedDistance}}
                                        <br />
                                        <strong>Carbon Offset(g): </strong>{{booking.CarbonEmissions | number:0}}
                                    </td>
                                    <td class="text-right">
                                        <div ng-show="!booking.$editing">
                                            {{booking.JourneyCost | Format}}<br />
                                            <!-- <small ng-click="booking.$editing = true;booking.$old = booking.InvoiceCost;"><a>Edit</a></small> -->
                                        </div>
                                        <!-- <div ng-show="booking.$editing">
                                                <input type="number" class="form-control text-right" ng-model="booking.InvoiceCost" /><br />
                                                <small ng-click="saveBookingEdit(booking)" class="text-success"><a>Save</a></small>
                                                <small ng-click="booking.$editing = false;booking.InvoiceCost = booking.$old;" class="text-warning"><a>Cancel</a></small>
                                            </div> -->
                                    </td>
                                    <td class="text-right">
                                        <span>{{booking.WaitingCost | Format}}</span>
                                    </td>
                                    <td class="text-right">
                                        <span>{{booking.ExtrasCost | Format}}</span>
                                    </td>
                                    <td class="text-right">
                                        <span>{{booking.AdjustmentsCost | Format}}</span>
                                    </td>
                                    <td class="text-right">
                                        {{booking.TaxTotal | Format}}
                                    </td>
                                    <td class="text-right">
                                        {{booking.Total | Format}}
                                    </td>
                                </tr>
                                <tr ng-show="invoice.InvoiceGroupField">
                                    <td colspan="3" class="date-group">
                                        {{day.date}} Totals
                                    </td>
                                    <td class="text-right date-group">
                                        {{day.InvoiceCost | Format}}
                                    </td>
                                    <td class="text-right date-group">
                                        {{day.WaitingCost | Format}}
                                    </td>
                                    <td class="text-right date-group">
                                        {{day.ExtrasCost | Format}}
                                    </td>
                                    <td class="text-right date-group">
                                        {{day.AdjustmentTotal | Format}}
                                    </td>
                                    <td class="text-right date-group">
                                        {{day.TaxAmount | Format}}
                                    </td>
                                    <td class="text-right date-group">
                                        {{day.TotalAmount | Format}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="8" class="text-right">
                                        <strong>Bookings SubTotal </strong>
                                    </td>
                                    <td class="text-right">
                                        <span>{{invoice.BookingsSubTotal + invoice.ExtrasSubTotal + invoice.WaitingSubTotal | Format}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="text-right">
                                        <strong>Bookings Tax Amount </strong>
                                    </td>
                                    <td class="text-right">
                                        <span>{{(invoice.BookingsTaxAmount + invoice.ExtrasTaxAmount + invoice.WaitingTaxAmount) | Format}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="8" class="text-right">
                                        <strong class="grey">Bookings Total (inc Tax)</strong>
                                    </td>
                                    <td class="text-right">
                                        <strong class="grey">{{invoice.BookingsSubTotal + invoice.ExtrasSubTotal + invoice.WaitingSubTotal + invoice.BookingsTaxAmount + invoice.ExtrasTaxAmount + invoice.WaitingTaxAmount | Format}}</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-show="invoice.InvoiceDetails.length > 0">
                    <span class="bold brand-primary upper">Extra Items</span>
                    <div class="table-responsive mt20">
                        <table class="table table-bordered table-hover table-condensed  bookings-table">
                            <thead>
                                <tr>
                                    <th style="width:15%">Item</th>
                                    <th style="width:45%">Description</th>
                                    <th style="width:10%" class="text-right">Price</th>
                                    <th style="width:10%" class="text-right">Qty</th>
                                    <th style="width:10%" class="text-right">Tax</th>
                                    <th style="width:10%" class="text-right">Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in invoice.InvoiceDetails | orderBy:'CreationTime'">
                                    <td>{{item.ItemName}}</td>
                                    <td>{{item.ItemDescription}}</td>
                                    <td class="text-right">{{item.UnitPrice | Format}}</td>
                                    <td class="text-right">{{item.Quantity}}</td>
                                    <td class="text-right">{{(item.Tax) ? ((item.Tax._TaxAmount * item.Quantity * item.UnitPrice) | Format) : (0 | Format)}}</td>
                                    <td class="text-right">{{calculateExtrasCost(item) | Format}}</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <strong>Extras SubTotal </strong>
                                    </td>
                                    <td class="text-right">
                                        <span>{{(invoice.ExtrasSubTotal | Format)}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <strong>Extras Tax Amount</strong>
                                    </td>
                                    <td class="text-right">
                                        <span>{{(invoice.ExtrasTaxAmount | Format)}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <h6 class="grey">Extras Total (inc Tax)</h6>
                                    </td>
                                    <td class="text-right">
                                        <h6 class="grey">{{invoice.ExtrasSubTotal + invoice.ExtrasTaxAmount | Format}}</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-show="invoice.Adjustments.length > 0">
                    <span class="bold brand-primary upper">Invoice Adjustments</span>
                    <div class="table-responsive mt20">
                        <table class="table table-bordered table-hover table-condensed bookings-table">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Reference</th>
                                    <th>Source</th>
                                    <th class="text-right" style="width:10%">Amount</th>
                                    <th class="text-right" style="width:10%">Tax</th>
                                    <th class="text-right" style="width:10%">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="6" class="date-group">
                                        Deductions
                                    </td>
                                </tr>
                                <tr ng-repeat="adjustment in invoice.Adjustments | filter:{'Type':'Debit'} | orderBy:'CreationTime'" ng-hide="adjustment.BookingId">
                                    <td><span ng-bind="adjustment.Type"></span></td>
                                    <td><span ng-bind="(adjustment.ClientAdjustmentId) ? adjustment.ClientAdjustment.Reference : adjustment.ClientPricingModelAdjustment.Reference"></span></td>
                                    <td><span ng-bind="(adjustment.ClientAdjustmentId) ? 'Client' : 'Pricing Model'"></span></td>
                                    <td class="text-right"><span ng-bind="adjustment.Amount | Format"></span></td>
                                    <td class="text-right"><span ng-bind="adjustment.TaxAmount | Format"></span></td>
                                    <td class="text-right">{{adjustment.Amount + adjustment.TaxAmount | Format}}</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="date-group">
                                        Credits
                                    </td>
                                </tr>
                                <tr ng-repeat="adjustment in invoice.Adjustments | filter:{'Type':'Credit'} | orderBy:'CreationTime'" ng-hide="adjustment.BookingId">
                                    <td><span ng-bind="adjustment.Type"></span></td>
                                    <td><span ng-bind="(adjustment.ClientAdjustmentId) ? adjustment.ClientAdjustment.Reference : adjustment.ClientPricingModelAdjustment.Reference"></span></td>
                                    <td><span ng-bind="(adjustment.ClientAdjustmentId) ? 'Client' : 'Pricing Model'"></span></td>
                                    <td class="text-right"><span ng-bind="adjustment.Amount | Format"></span></td>
                                    <td class="text-right"><span ng-bind="adjustment.TaxAmount | Format"></span></td>
                                    <td class="text-right">-{{adjustment.Amount + adjustment.TaxAmount | Format}}</td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <strong>SubTotal </strong>
                                    </td>
                                    <td class="text-right">
                                        <span>{{(invoice.AdjustmentsSubTotal | Format)}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <strong>Tax Amount</strong>
                                    </td>
                                    <td class="text-right">
                                        <span>{{(invoice.AdjustmentsTaxAmount | Format)}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <h6 class="grey">Total (inc Tax)</h6>
                                    </td>
                                    <td class="text-right">
                                        <h6 class="grey">{{invoice.AdjustmentsSubTotal + invoice.AdjustmentsTaxAmount | Format}}</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="mt20" ng-if="invoice.Bookings.length > 0">
                    <h3 class="section-title">Totals</h3>
                    <div class="row mt20">
                        <div class="col-md-12" ng-show="invoice.InvoiceGroupField">
                            <table class="table table-bordered table-hover table-condensed bookings-table">
                                <thead>
                                    <tr>
                                        <th>{{invoice.InvoiceGroupField || 'Date'}}</th>
                                        <th class="text-right" style="width:10%">Bookings</th>
                                        <th class="text-right" style="width:10%">Amount</th>
                                        <th class="text-right" style="width:10%">Fees/Charges</th>
                                        <th class="text-right" style="width:10%">Discount</th>
                                        <th class="text-right" style="width:10%">Tax</th>
                                        <th class="text-right" style="width:10%">Total</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="day in days">
                                    <tr>
                                        <td class="">
                                            {{day.date}}
                                        </td>
                                        <td class="text-right">
                                            {{day.bookings.length}}
                                        </td>
                                        <td class="text-right ">
                                            {{day.InvoiceCost | Format}}
                                        </td>
                                        <td class="text-right ">
                                            {{day.AdjustmentTotal | Format}}
                                        </td>
                                        <td class="text-right ">
                                            {{day.Discount | Format}}
                                        </td>
                                        <td class="text-right ">
                                            {{day.TaxAmount| Format}}
                                        </td>
                                        <td class="text-right ">
                                            {{day.TotalAmount | Format}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive mt20">
                                <table class="table table-bordered table-hover table-condensed bookings-table">
                                    <tbody>
                                        <tr>
                                            <td style="width:90%" class="text-right">
                                                <h6 class="grey">Bookings Total</h6>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="grey">{{(invoice.BookingsSubTotal + invoice.ExtrasSubTotal + invoice.WaitingSubTotal) | Format}}</h6>
                                            </td>
                                        </tr>
                                        <tr ng-show="invoice.InvoiceDetails.length > 0">
                                            <td style="width:90%" class="text-right">
                                                <h6 class="grey">Extras Total</h6>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="grey">{{invoice.DetailsSubTotal | Format}}</h6>
                                            </td>
                                        </tr>
                                        <tr ng-show="invoice.Adjustments.length > 0">
                                            <td style="width:90%" class="text-right">
                                                <h6 class="grey">Fees/Charges Total</h6>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="grey">{{invoice.AdjustmentsSubTotal | Format}}</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:90%" class="text-right">
                                                <h6 class="grey">Total Tax</h6>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="grey">{{invoice.TaxAmount | Format}}</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:90%" class="text-right">
                                                <h6 class="grey">Total (inc Tax)</h6>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="grey">{{invoice.TotalAmount | Format}}</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:90%" class="text-right">
                                                <h6 class="grey">Paid</h6>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="grey">{{calculatePaidAmount() | Format}}</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="width:90%" class="text-right">
                                                <h6 class="grey">Outstanding Amount</h6>
                                            </td>
                                            <td class="text-right">
                                                <h6 class="grey">{{invoice.TotalAmount - calculatePaidAmount() | Format}}</h6>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt30">
                    <div class="col-md-6">
                        <span class="bold brand-primary upper">Notes</span>
                        <p ng-bind="invoice.Notes" ng-show="invoice.Notes"></p>
                        <p class="text-muted" ng-show="!invoice.Notes">No Notes Added</p>
                    </div>
                    <div class="col-md-6">
                        <span class="bold brand-primary upper">Payment Instructions</span>
                        <p ng-bind="invoice.PaymentInstructions" ng-show="invoice.PaymentInstructions"></p>
                        <p class="text-muted" ng-show="!invoice.PaymentInstructions">No Payment Instructions Added</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
