<div class="auction-settings">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="material-icons">directions_car</i> Auto Allocation Rules</h3>
    </div>
    <div class="panel-body">
        <div class="automation-config">
            <div class="actions">
                <button class="btn btn-xs btn-primary" ng-click="startRuleEdit()" ng-if="PERMISSIONS.test('settings.company','W')"><i class="material-icons">add</i>Add New Rule</button>
            </div>
        </div>
        <!--Auto Allocation Settings-->
        <div class="automation-rules mt20">
            <div class="no-rules mb20" ng-if="autoAllocationRules.length == 0">No auto allocation rules have been defined</div>
            <div class="rules-wrapper" ng-if="autoAllocationRules.length > 0">
                <div class="rules">
                    <table class="table primary-table">
                        <thead>
                            <tr>
                                <th style="width: 15%">Client</th>
                                <th style="width: 15%">Vehicle</th>
                                <th style="width: 10%">Min Mileage</th>
                                <th style="width: 10%">Max Mileage</th>
                                <th style="width: 10%">Start Period</th>
                                <th style="width: 10%">End Period</th>
                                <th style="width: 15%">Drivers</th>
                                <th style="width: 15%">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in autoAllocationRules" ng-class="(item.Active)?'active':'inactive'">
                                <td>
                                    <strong ng-show="item.ClientName">{{item.ClientName | truncate: 20}}</strong>
                                    <strong ng-show="{{!item.ClientName}}">All Clients</strong>
                                </td>
                                <td>
                                    <strong ng-show="item.VehicleTypeName">{{item.VehicleTypeName}}</strong>
                                    <strong ng-show="{{!item.VehicleTypeName}}">All Vehicle Types</strong>
                                </td>
                                <td>
                                    <span ng-show="item.MinMileage">{{item.MinMileage}}</span>
                                    <span ng-show="{{!item.MinMileage}}">-</span>
                                </td>
                                <td>
                                    <span ng-show="item.MaxMileage">{{item.MaxMileage}}</span>
                                    <span ng-show="{{!item.MaxMileage}}">-</span>
                                </td>
                                <td>{{item.StartPeriod}}</td>
                                <td>{{item.EndPeriod}}</td>
                                <td>
                                    <span ng-if="item.DriverTypeName" ng-bind="item.DriverTypeName">
                                    </span>
                                    <span ng-if="item.DriverIdentifier" ng-bind="'Callsign: ' + item.DriverIdentifier">
                                    </span>
                                    <span ng-if="!item.DriverTypeName && !item.DriverIdentifier">All Drivers
                                    </span>
                                </td>
                                <td>
                                    <!--Activate/Deactivate Rules-->
                                    <button class="btn btn-xs btn-round btn-success" tooltip="Activate Rule" ng-if="!item.Active" ng-click="activateAllocationRule(item.Id)">
                                        <i class="material-icons">power_settings_new</i>
                                    </button>
                                    <button class="btn btn-xs btn-round btn-warning" tooltip="Deactivate Rule" ng-if="item.Active" ng-click="deactivateAllocationRule(item.Id)">
                                        <i class="material-icons">power_settings_new</i>
                                    </button>
                                    <!--Activate/Deactivate Rules-->
                                    <button class="btn btn-xs btn-round btn-success" tooltip="Edit Rule" ng-click="editAutoAllocationRule(item)">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button class="btn btn-xs btn-round btn-danger" tooltip="Delete Rule" ng-click="deleteAutoAllocationRule(item.Id)">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <button class="btn btn-xs btn-round btn-success" tooltip="{{item.ExclusionRulesCount}} Exclusion Rules" ng-click="openExclusionsModal(item)">
                                        <i class="material-icons">update_disabled</i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--Auto Allocation Settings-->
    </div>
</div>
</div>