<div ng-controller="BarController">
    <div class="hidden-xs">
        <div class="back-button" ng-if="!$root.backAvailable">
            <a href="javascript:history.back()"><i class="material-icons">keyboard_backspace</i> Back</a>
        </div>
        <div class="back-button" ng-if="$root.backAvailable">
            <a href="" ui-sref="{{$root.backAvailable}}"><i class="material-icons">keyboard_backspace</i> Back</a>
        </div>
        <div class="divider">|</div>
    </div>
    <ol class="breadcrumb">
        <li ng-repeat="item in breadcrumbs">
            <a href="" ui-sref-active="active" bind-html-compile="item.$html"></a>
        </li>
    </ol>
    <span class="module-help" ng-if="helpAvailable">
        <a href="" ng-click="showHelp()"><i class="material-icons">help</i>Help</a>
    </span>
    <div class="time-controls" ng-show="showTimeControl">
        <a id="daterangepicker" href=""> <i class="material-icons">date_range</i></a><span class="current-period">{{selectedPeriod}}</span>
    </div>
</div>
