<div id="settings-profile">
    <h2 class="page-title">
        <i class="material-icons">lock</i>Profile Settings
    </h2>
    <div ui-view name="profile-staff"></div>
    <div class="password-control">
        <h3 class="section-title">Password Settings</h3>
        <div form-for="user" schema="ChangePassword" mode="{{viewMode}}">
            <div class="mt10 mb10">
            	<button class="btn btn-success" ng-show="viewMode == 'VIEW'" ng-click="startEdit()"><i class="material-icons">lock</i>Change Password</button>
                <button class="btn btn-success btn-xs mr10" ng-show="viewMode == 'EDIT'" ng-click="saveEdits()"><i class="material-icons">save</i>Save</button>
                <button class="btn btn-warning btn-xs" ng-show="viewMode == 'EDIT'" ng-click="cancelEdit()"><i class="material-icons">undo</i>Cancel</button>
            </div>
            <div class="row" ng-show="viewMode == 'EDIT'">
                <div class="col-md-4">
                    <div field-for="CurrentPassword" display="Current Password"></div>
                </div>
                <div class="col-md-4">
                    <div field-for="NewPassword" display="New Password"></div>
                </div>
                <div class="col-md-4">
                    <div field-for="NewPasswordRepeat" display="Confirm new password"></div>
                </div>
            </div>
        </div>
    </div>
</div>
