<div id="bookings" class="module">
    <div class="row">
        <div class="col-xs-6 module-options">
            <a ui-sref="root.bookings.create" class="btn btn-success"><i class="material-icons">add_circle</i>New Booking</a>
        </div>
        <div class="col-xs-6 view-options">
            <a ng-click="showFilterModal()"><i class="material-icons">date_range</i>Filter</a>
            <a href="" ng-click="">
                <span ng-click="toggleSearch()"><i class="material-icons">search</i>Search</span>
                <br />
                <input type="text" ng-model="searchTerm.$" id="searchTerm" ng-model-options="{ debounce: 400 }" ng-show="showSearch" />
            </a>
        </div>
    </div>
    <div class="bookings-wrapper">
        <h2 class="page-title">{{filterSummary}}</h2>
        <div class="booking-strip header hidden-xs">
            <div class="booking">
                <div class="info">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-3 date-time">
                            Date
                        </div>
                        <div class="col-xs-8 col-sm-3 col-md-3 col-lg-4 journey">
                            Journey
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-3 passenger">
                            Passenger
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 driver">
                            Driver
                        </div>
                        <div class="col-lg-2 hidden-md hidden-sm vehicle">
                            Vehicle
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-booking" ng-if="bookingGroups.length==0">
            <h3 class="section-title">No bookings for this period.</h3>
        </div>
        <div ng-repeat="bg in bookingGroups" ng-init="groupIndex = $index">
            <div class="date-group">
                {{bg.date | companyDate: 'DD/MM/YYYY'}}
            </div>
            <booking-strip ng-repeat="booking in bg.bookings | orderBy:'BookedDateTime' track by booking.Id" booking="booking" drivers="drivers" vehicles="vehicles" on-completed="onCompleted(groupIndex, $index)"></booking-strip>
        </div>
    </div>
    <div class="mt20">
        <pagination total-items="paging.totalResults" ng-model="paging.currentPage" max-size="5" class="pagination-sm" boundary-links="true" items-per-page="paging.resultsPerPage" ng-change="setPage(paging.currentPage)"></pagination>
    </div>
</div>