<a href="" ng-click="newAddress()" class="btn btn-success mb20"><i class="material-icons">add_location</i>New Address</a>
<br/>
<span class="bold brand-primary upper">Passenger Addresses</span>
<div class="table-responsive mt20">
    <table class="table table-bordered table-hover table-condensed bookings-table">
        <thead>
            <tr>
                <th width=30%>Name</th>
                <th width=50%>Full Address</th>
                <th width=20%></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="address in addresses" ng-show="addresses.length>0">
                <td width=30%><span ng-bind="address.Name"></span></td>
                <td width=50%><span ng-bind="address._FullAddress"></span></td>
                <td width=20%>
                    <a class="btn btn-xs btn-warning" ng-click="editAddress(address)"><i class="material-icons">create</i>Edit</a>
                    <a class="btn btn-xs btn-danger" ng-click="deleteAddress(address)"><i class="material-icons">delete_forever</i>Delete</a>
                </td>
            </tr>
            <tr ng-show="addresses.length==0">
                <td colspan="3">
                    No Addresses added yet.
                </td>
            </tr>
        </tbody>
    </table>
</div>